*{
    margin:0px;
    font-family:arial;
    border:border-box;
}
.navbar{
    background-color:#0f1111;
    height:60px;
    width:100%;
    color:#ffffff;
    display:flex;
    align-items:center;
justify-content: space-evenly;
}
.navbar-logo{
    height:50px;
    width:7%;
    margin-left:10px;
}
.logo{
    background-image:url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100%;
}.border{
    border:1px solid transparent;
}.border:hover{
    border:1px solid white;
}/*box 2*/
.nav-address{
    height:35px;
    width:6%;
    padding-top:10px;
    padding-bottom:5px;
    padding-left:5px;
}
.country{
    color:#ffffff;
    font-size:0.85rem;
}.deliver_to{
    color:#cccccc;
    font-size: 0.75rem;
    margin-left:12px;
}.location-icon{
    display:flex;
    align-items: center;
}
/*box 3*/
.search-bar{
height:40px;
border-radius:4px;
display:flex;
justify-content:space-evenly;
align-items:center;
border:2px solid transparent;
margin-left:5px;
margin-right:5px;
width:60%;
}.search-bar:hover{
    border:2px solid #faa940;
}
.select{
    width:52px;
    height:39px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    background-color:#e6e6e6;
    color:#0f1111;
    border:none;
    padding-left:7px;
    padding-right:7px;
}.search-am{
    width:700px;
    height:39px;
    background-color:#ffffff;
    color:#0f1111;
    border:none;
    font-size:1rem;
    display:felx;
    align-items:center;
}.search-icon{
    background-color:#faa940;
    height:39px;
    width:45px;
    display:flex;
   justify-content:center;
   align-items:center;
    color:black;
    font-size:1.2rem;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}/* Box 4*/
.navline1{
    font-size:0.75rem;
}.navline2{
    font-size:0.85rem;
    font-weight:700;
}
.language{
    display:flex;
    align-items:end;
    justify-content:center;
    height:40px;
    width:4%;
    padding-bottom:10px;
    font-size:0.85rem;
    font-weight:700;
}.cart i{
    font-size:30px;
}.cart{
   font-size:0.85rem;
   font-weight:700;
   height:35px;
   width:6%;
   padding-top:10px;
   padding-bottom:5px;
   padding-left:7px;
   margin-right:10px
}.sign-in{
    height:35px;
    width:9%;
    padding-top:10px;
    padding-bottom:5px;
    padding-left:7px;
}.return{
    height:35px;
    width:6%;
    padding-top:10px;
    padding-bottom:5px;
    padding-left:7px;
}/* Panel*/
.panel{
    height:39px;
    background-color:#232f3e;
    display:flex;  
    font-size:0.85rem;
    color:#ffffff;
    align-items:center;
}.panel-others{
    display:flex;
    width:90%; 
}.panel-all i{
    font-size:17px;
}.panel-all{
    padding-right:10px;
    height:30px;
    padding-top:9px;
    margin-left:10px;
    padding-left:5px;
    font-size:0.85rem;
    font-weight:700;
}.panel-others p{
    padding-left:10px;
    padding-right:10px;
    height:29px;  
    padding-top:10px;
}/* Hero section*/
.hero-section{
    background-image:url("hero_section.jpg");
    height:20rem;
    width:100%;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    
}.hero-msg{
    height:40px;  
    background-color:#f5f6f6;
    display:flex;
    justify-content:center;
    
    align-items:center;
    font-size:14px;
    color:#0f1111;
    width:95%;
   margin-bottom:30px;
}.hero-msg a{
    color:#2162a1;
}
.shop-section{
    display:flex;
    height:1000px;
    justify-content:space-evenly;
    background-color:rgb(231, 231, 228);
    flex-wrap:wrap;
}.box{
    width:17.88%;
    height:400px;
    margin-bottom:3%;
    padding:2%;
    background-color:#ffffff;
}.box1-image{
    background-image:url("box1_image.jpg");
    height:80%;
    background-size: cover;
    margin-top:4%;
    margin-bottom:4%;
}.box2-image{
    background-image:url("box2_image.jpg");
    height:80%;
    background-size: cover;
    margin-top:4%;
    margin-bottom:4%;
}.box3-image{
    background-image:url("box3_image.jpg");
    height:80%;
    background-size: cover;
    margin-top:4%;
    margin-bottom:4%;
}.box4-image{
    background-image:url("box4_image.jpg");
    height:80%;
    background-size: cover;
    margin-top:4%;
    margin-bottom:4%;
}.box5-image{
    background-image:url("box5_image.jpg");
    height:80%;
    background-size: cover;
    margin-top:4%;
    margin-bottom:4%;
}.box6-image{
    background-image:url("box6_image.jpg");
    height:80%;
    background-size: cover;
    margin-top:4%;
    margin-bottom:4%;
}.box7-image{
    background-image:url("box7_image.jpg");
    height:80%;
    background-size: cover;
    margin-top:4%;
    margin-bottom:4%;
}.box8-image{
    background-image:url("box8_image.jpg");
    height:80%;
    background-size: cover;
    margin-top:4%;
    margin-bottom:4%;
}
.box p{
    color:#2162a1;
}
.footer-panel1{
    height:50px;
    background-color:#37475a;
    color:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:0.81rem;
}
.footer-panel2{
    height:300px;
    display:flex;
    background-color:#232f3e;
    color:#dddddd;
    justify-content:space-evenly;
    padding-top:50px;
    

}.footer-panel2 p{
    font-size:1rem;
    color:#ffffff;
    font-weight:700;
}ul a{
    display: block;
    margin-top:10px;
    color:#dddddd;
    text-decoration:none;
    font-size:0.85rem;
}ul a:hover{
    text-decoration:#dddddd underline;
}
.footer-panel3{
    background-color:#232f3e;
    border-top:1px solid #3a4553;
    display:flex;
    height:68px;
    justify-content:center;
    align-items:center;
}.logo{
    background-image:url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width:90px;
}.lang{
    border-radius:2.5px;
    border:1px solid #848688  ;
    height:45%;
    color:#cccccc;
    padding:6px;
    padding-right:18px;
    margin-right:7px;
}.currency{
 
    border:1px solid #848688 ;
    border-radius:2.5px;
    height:45%;
    color:#cccccc;
    padding:6px;
    padding-right:18px;
    margin-right:7px;
}.us{
    margin-right:7px;
    border:1px solid #848688  ;
    height:45%;
    color:#cccccc;
    padding:6px;
    padding-right:18px;
    border-radius:2.5px;
}.footer-line{
    display:flex;
    justify-content:space-evenly;
    margin-left:4%;
}.footer-panel4{
    height:80px;
    background-color:#131a22;
    color:#dddddd;
    
    
}.pages{
    display:flex;
    justify-content:center;
}
.footer-panel4 a{
    color:#dddddd;
    text-decoration:none;
    padding-top:20px;
    padding-left:10px;
    font-size:12px;
    padding-bottom:5px;
    
}.copyright{
    font-size:12px;
    text-align:center;
}.footer-panel4 a:hover{
    text-decoration:#dddddd underline;
}