<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="signup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar-logo border">
                <div class="logo">
                </div>
            </div>
            <div class="nav-address border">
                <p class="deliver_to">
                    Deliver to
                </p>
                <div class="location-icon">
                    <i class="fa-solid fa-location-dot"></i><p class="country">India
                    </p>
                    </div>
            </div>
            <div class="search-bar"> 
                <select class="select">
                    <option>All departments</option>
                    <option>Arts and crafts</option>
                    <option>Automotive</option>
                    <option>Baby</option>
                    <option>Beauty and personal care</option>
                    <option>Books</option>
                    <option>Boy's fashion</option>
                    <option>Computers</option>
                    <option>Deals</option>
                    <option>Digital music</option>
                    <option>Electronics</option>
                    <option>Girl's fashion</option>
                </select>
                <input type="search" placeholder=" Search Amazon" class="search-am">
                <div class="search-icon">
                 <i class="fa-solid fa-magnifying-glass" type="button"></i>
                </div>
            </div>
            <div class="language border">
                <i class="fa-solid fa-flag-usa"></i>
                <p>EN</p>
            </div>
            <a href="signup.html"><div class="sign-in border">
                <p ><span class="navline1"> Hello, Sign In </span></p>
                <p class="navline2">Account & Lists</p>
            </div></a>
            <div class="return border">
                <p ><span class="navline1">Returns</span></p>
                <p class="navline2"> & Orders</p>
            </div>
            <div class="cart border">
                <i class="fa-solid fa-cart-shopping "></i>
                <span class="cart-count">0</span>
                <p>Cart</p>
            </div>
        </div>
        <div class="panel">
            <div class="panel-all border">
                <i class="fa-solid fa-bars"></i>
                All
            </div>
            <div class="panel-others ">
                <p class="border">Today's Deals</p>
                <p class="border">Customer service</p>
                <p class="border">Registry</p>
                <p class="border">Gift Cards</p>
                <p class="border">Sell</p>
            </div>
        </div>
    </header>
  

  <div class="box2">
    <h1>Sign in</h1>
    <h3>Email or Mobile Phone Number</h3>
    <input type="text" class="in" placeholder="Enter email or phone"><br>
    <button class="btn">Continue</button>
    <p>By continuing, you agree to Amazon's Conditions of Use and Privacy Notice.</p>
    <p><a href="#">Need help?</a></p>
    <hr>
    <p><b>Buying for work?</b></p>
    <p><a href="#">Shop on Amazon Business</a></p>
  </div>

  <center>
    <hr width="350px">
    <p>New to Amazon?</p>
    <button class="btn2">Create your Amazon Account</button>
  </center>

  <footer>
    <p>Conditions of Use&nbsp;&nbsp;&nbsp;&nbsp;Privacy Notice&nbsp;&nbsp;&nbsp;&nbsp;Help</p>
    <p>© 2025, Amazon Clone Team</p>
  </footer>
</body>
</html>
